/* define some global helpers */
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}


/* small responsive fixes */
@media (max-width: 1300px) {
    .l-2cr-responsive {
    }

    .l-2cr-responsive.l-2cr-fluid div.c-1, .l-2cr-responsive.l-2cr-fluid div.c-2{
	margin:0px !important;
	padding: 0px !important;
    }

    .l-2cr-fluid.l-2cr-responsive .c-1 {
	width:100% !important;
        float: none !important;
        display:block !important;
        margin: 0px !important;
        padding: 0 !important;
    }
    .l-2cr-fluid.l-2cr-responsive .c-2 {
	width:100% !important;
        float: none !important;
        display:block !important;
        margin: 0px !important;
        padding: 0 !important;
    }

    /* Minimize menu buttons and dropdowns on smaller screens */
    header#grp-header #grp-navigation ul#grp-user-tools > li.grp-user-options-container {
	width: 150px !important;
    }
    header#grp-header #grp-navigation ul li.grp-collapse.grp-open > ul {
	width: auto !important;
	max-width: 250px !important;
    }

}


/* hack the header toolbar so when too many menu entries expand the height, the acutal content is not overlapped */
body > #grp-container > header {
    position: relative;
}
body > #grp-container > article {
    top: 40px;
}

/* fix dropdowns overlapping the menu items */
header#grp-header #grp-navigation ul li.grp-collapse {
  position: initial;
}


/* show ellipsis on overflow in dropdown */
header#grp-header #grp-navigation ul#grp-user-tools > li a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* align the last menu dropdown to the right screen edge */
header#grp-header #grp-navigation ul#grp-user-tools:last-child > li.grp-user-options-container:last-child > ul.grp-user-options {
    right: 0;
}



.rotate{
    -moz-transform: rotate(-90deg);                 /*FF*/
    -o-transform: rotate(-90deg);                   /*Opera*/
    -webkit-transform: rotate(-90deg);              /*Safari, Chrome*/
    -ms-transform: rotate(-90deg) !important;       /*IE9*/
    transform: rotate(-90deg);                      /*CSS3 default*/
    background-color:transparent;
    zoom: 1;
    z-index:1;
    width: 191px;
    position: absolute;
    padding: 45px 10px 15px 10px;
}